#spoiler-block-popup {
    position: fixed;
    z-index: 100000000000000000;
    top: 10px;
    right: 10px;
    
    /* TODO insert theme colors here */
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
    border: 2px solid red;
}