.body {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.input {
    color: #FF8845;
    border: none;
    width: 35px;
    font-size: 20px;
    margin-left: 10px;
    padding: 0;
    outline: none;
}

.percentSign {
    color: #FF8845;
    margin-top: 19px;
}

/* Hide default Arrows: */
input.input::-webkit-outer-spin-button,
input.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input.input[type=number] {
  -moz-appearance: textfield;
}

.arrows{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5px;
}

.arrowUp {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-bottom: 10px solid #c4c4c4;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .arrowDown {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid #c4c4c4;
    cursor: pointer;
  }